@import "variables.scss";
@import "layout/desktopNav/DesktopNav.scss";
@import "layout/sidebar//Sidebar.scss";
@import "layout/header//Header.scss";
@import "layout/footer/Footer.scss";
@import "layout/aboutSection//AboutSection.scss";
@import "layout/landingImgSection//LandingImgSection.scss";
@import "layout/emailForm/EmailForm.scss";
@import "layout/emailSection/EmailSection.scss";

.App {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  min-height: 100vh;
  background-color: $background-secondary;
}
