$background-primary: #080A52; //Midnight Blue
$background-secondary: #FD55AB; // Wild Strawberry
$background-complement: #F4EEEE; // Isabelline
$text-primary: #EB2188; // Deep Cerise
$text-secondary: #fff; //White