.header-parent-wrapper {
    display: flex;
    position: relative;
    z-index: 999;
    height: 80px;
    max-height: 100%;
    width: 100%;
    background-color: $background-primary;
    /* align-items: center; */
}