.gallery-parent-container {
    /* margin: 10px 50px; */

    .gallery-row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;

        .gallery-column {
            /* flex: 25%;
            max-width: 25%;
            padding: 0 4px; */

            img {
                /* width: 238px; */
                width: 100%;
                /* max-width: 25%; */
                vertical-align: middle;
                /* padding: 5px; */
                filter: grayscale(100%);
                transition: 1s;
            }

            img:hover {
                filter: grayscale(0);
                transform: scale(1.1);
            }

        }

        @media screen and (max-width: 600px) {
            .gallery-column {
                flex: 100%;
                max-width: 100%;
            }
        }

        @media screen and (max-width: 800px) {
            .gallery-column {
              flex: 50%;
              max-width: 50%;
            }
          }
    }

}