
.footer-parent-container {
    background-color: $background-primary;
    
    @media screen and (min-width: 760px) {
        /* height: 500px; */
        height: 100%;
    }
    

    .footer-wrapper {
        /* display: flex; */
        max-width: 100%;
        padding: 48px 24px;
        color: $text-secondary;
        position: relative;
        /* border: 1px solid yellow; */


        .footer-links-container {
            display: flex;
            justify-content: flex-start;
            

            .footer-links-wrapper {
                /* display: flex; */
                width: 100%;

                .footer-links-items {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    font-family: $paragraph-lightfont;
                    
                    @media screen and (min-width: 760px) {
                        justify-content: center;
                
                    }
                    
                    /* color: $text-secondary; */

                    .footer-link {
                        color: $text-secondary;
                        text-decoration: none;
                        letter-spacing: 1px;
                        font-size: 16px;
                        font-family: $paragraph-lightfont;
                        opacity: 1;

                        &.active {
                            color: $text-tertiary;
                        }

                        &:hover {
                            color: $text-tertiary;
                            transition: 0.3s ease-out;
                            opacity: 1;
                        }

                        @media screen and (min-width: 760px) {
                            padding: 1rem;
                    
                        }
                    }
                }
            }
        }

    /* Contact info Section: */

        .footer-contactinfo {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            margin: 25px 0px 25px 0px;
            font-family: $paragraph-lightfont;
            /* border: 1px solid red; */

            @media screen and (min-width: 760px) {
                /* border: 1px solid red; */
                margin: 30px 0px 30px 0px;
        
            }
        }

        .footer-text {
            margin: 25px 0px 25px 0px;
            font-family: $paragraph-lightfont;

            h1 {
                font-family: $header-primaryfont;
                font-size: $heading-primary;
            }
        }

        .footer-img {
            position: absolute;
            transform: translate(50%, -50%);
            right: 5rem;
            top: 50%;
            
            img {
                height: 100px;
            }
        }

    /* Beginning of footer-socialmedia */

        .footer-socialmedia-parent-container {
            width: 100%;
            /* max-width: 1000px; */

            .footer-socialmedia-wrapper {
                display: flex;
                flex-direction: column;
                align-items: left;
                
                
                .footer-socialmedia {
                    display: flex;
                    align-items: flex-start;
                    margin: 0px 0px 25px 0px;
                    /* border: 1px solid red; */
                    

                    @media screen and (min-width: 760px) {
                        justify-content: center;
                        /* border: 1px solid red; */
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        
                    }
                    
                    .socialmedialink {
                        display: flex;
                        color: $text-secondary;
                        font-size: 50px;
                        transition: all 0.3s ease 0s;
                        padding-right: 25px;

                        &:hover {
                            color: $text-tertiary;
                        }
                       
                    }

                }

                .footer-websiterights {
                    display: flex;
                    justify-content: flex-start;
                    font-family: $paragraph-lightfont;
                    font-size: $paragraph-secondary;

                    @media screen and (min-width: 760px) {
                        justify-content: center;
                        /* border: 1px solid red; */
                        
                    }
                }
            }
        }

    }


}