.desktopNav-parent-container {
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    /* border: 5px solid red; */
    background-color: $background-primary;

    .desktop-nav-items-container {
        display: flex;
        position: absolute;
        right: 10%;

       /*  a:last-child {
            border: 5px solid red;
            display: none;
        } */
        
        .desktopNav-nav-item {
            display: flex;
            /* border: 5px solid blue; */
            padding: 20px;
            text-decoration: none;
            color: $text-secondary;

            &.active {
                color: $text-primary;
            }

            &:hover {
                color: $text-primary;
                transition: 0.3s ease-out;
                opacity: 1;
            }

        }

    }
    
}